<div class="py-4 px-5 bg-light border">
  <h1 class="display-6 mb-4">Getting Started with Rodauth in Rails</h1>
  <p class="lead">This application demonstrates a possible integration of <%= link_to "Rodauth", "http://rodauth.jeremyevans.net", target: "_blank" %> into a Rails application, using the <%= link_to "rodauth-rails", "https://github.com/janko/rodauth-rails", target: "_blank" %> gem.</p>
  <p class="lead">You can find the source code at <%= link_to "github.com/janko-screencasts/getting-started-with-rodauth-in-rails", "https://github.com/janko-screencasts/getting-started-with-rodauth-in-rails", target: "_blank" %>.</p>
</div>
